@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
    background-color: #f9f9fb;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

nav {
    display: flex;
    gap: 14rem;
    justify-content: center;

    padding: 1.75rem 0;
}

nav .logo-page {
    display: flex;
    align-items: center;
}

nav .logo-page p {
    font-size: 32px;
}

nav .logo-page .full-stop {
    background-color: #fbbf24;
    width: 7px;
    height: 7px;
    border-radius: 50%;

    margin-bottom: -18px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #fbbf24;
    position: absolute;
    left: 0;
    bottom: -4px;
}

nav ul li a:hover::after {
    width: 100%;
    transition: width 300ms ease-in-out;
}

nav .icons-links {
    display: flex;
    align-items: center;
    gap: 32px;
}

nav .icons-links i {
    font-size: 24px;
}

nav .icons-links i:hover {
    color: #fbbf24;
    cursor: pointer;
}

nav .menu-burger {
    display: none;
}

nav .menu-burger i {
    font-size: 24px;
    cursor: pointer;
}

main {
    min-height: 80vh;
}

main .container {
    max-width: 60rem;

    margin: 0 auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

main .content-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

main .content-left .column-top {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main .content-left .column-top p {
    color: #fbbf24;
    font-size: 24px;

    animation-name: up;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

main .content-left .column-top #design-word {
    color: #0A4273;
}

main .content-left .column-bottom {
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(-90deg);

    bottom: -56px;
}

main .content-left .column-bottom .title p {
    font-family: 'Coming Soon', sans-serif;
    font-size: 40px;


    animation-name: up;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

main .content-left .column-bottom .title span {
    content: "";
    display: block;
  
    height: 0.2rem;
    width: 9.8rem;
    margin-top: -16px;
  
    background-color: #0A4273;

    animation-name: up;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}


main .content-left .column-bottom .phrase p {
    font-size: 16px;
    color: #64748B;
    width: 70%;

    margin-top: 16px;

    animation-name: up;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

main .content-right .image {
    height: 503px;
    width: 795px;
    
    background-image: url(/assets/images/allstar.png);
    background-size: cover;
    background-repeat: no-repeat;
}

main .content-right .footer {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-top: -80px;
    margin-left: -32px;

    animation-name: up;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

main .content-right .footer .creator img {
    border: 3px solid #fbbf24;
    border-radius: 50%;

    width: 56px;
    height: 56px;
}

main .content-right .footer .creator-role p {
    font-size: 14px;
    color: #fff;
}

main .content-right .footer .creator-role p:nth-child(1) {
    font-weight: bold;
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(15px);
    } 

    to{
        opacity: 1;
    }
}


@media screen and (max-width: 400px) {
    main  .container{
        grid-template-columns: 1fr;
    }

    main .content-left {
        gap: 3rem;
    }

    main .content-left .column-top {
        flex-direction: row;
        justify-content: center;
    }

    main .content-left .column-top p {
        font-size: 20px;
    }

    main .content-right .image {
        height: 240px;
        width: 340px;
    }

    main .content-left .column-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        position: relative;
        transform: none;
        bottom: 0;
    }

    main .content-left .column-bottom .phrase p {
        display: block;
        width: 80%;

        text-align: center;
        margin: 24px auto 0 auto;
    }
}
